@font-face{
  font-family: "policetexte";
  src: url("police/Montserrat-Regular.otf");
}


@font-face{
  font-family: "policetitre";
  src: url("police/ColabLig.otf");
}

body{
  font-family: policetexte;
}
#photograph {
  width: 550px;
  height: 350px;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#map {
  width: 95%;
  height: 95%;
  margin-left: 5%;
  margin-top: 2%;
}


#titre2 {
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: rgb(247, 245, 245);
  border: 0.5px #8c8c8c solid;
}
h2 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: "ColabLib";
  background-color: rgb(247, 245, 245);
}

h3 {
  text-align: center;
  color: black;
  margin-top: 3%;
  font-family: "ColabLib";
}

/*TEXTE*/

p {
  margin-top: 3%;
  text-align: start;
  font-family: "Montserrat";
  color: #5b5b5b;
  font-size: 20px;
}

/*FORMULAIRE*/
section {
  margin-top: 3%;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

form {
  height: 400px;
  width: 400px;
  align-items: center;
  display: grid;
  color: #d9d9d9;
  border: #8c8c8c solid 1px;
}

input {
  height: 30px;
  background-color: #d9d9d9;
  font-family: "Montserrat";
  outline: none;
  border: solid 1px #8c8c8c;
  border-left: none;
  border-right: none;
}

textarea {
  background-color: #d9d9d9;
  font-family: "Montserrat";
  outline: none;
  height: 200px;
  border: solid 1px #8c8c8c;
  border-left: none;
  border-right: none;
}

textarea:hover {
  background-color: #8c8c8c;
  color: #f2f2f2;
}

input:hover {
  background-color: #8c8c8c;
  color: #f2f2f2;
}

#name {
  margin-top: -20px;
}

#submit {
  margin-bottom: -20px;
  margin-top: -20px;
}

/* RESEAUX SOCIAUX

    #reseau {
        margin-top: 30%;
        margin-left: 30%;
        justify-content : space-around;
    }
    #facebook {
        width: 25px;
        height: 25px;
    }
    
    #linkledin {
        width: 25px;
        height: 25px;
    }
    
    #instagram {
        width: 25px;
        height: 25px;
    }
    */

/*header?*/
@font-face {
  font-family: "Skating Move";
  src: url("Skating\ Move.ttf");
}
@font-face {
  font-family: "ColabLig";
  src: url("ColabLig.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.otf");
}
.topsite {
  font-family: "Montserrat";
  color: black;
  font-size: 70px;
  word-spacing: 5px;
  text-align: center;
}
.connect {
  font-family: "Montserra";
  font-size: 30px;
  margin-left: 50px;
  color: black;
}
.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: rgb(57, 57, 59);
}
.dark-pink-text {
  color: #ac003a;
}
.dark-amber-text {
  color: #ff6f00;
}
.dark-teal-text {
  color: #004d40;
}

.bg-primary {
  background-color: rgb(56, 55, 55) !important;
}

footer {
  margin-top: 20px;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #dddddd;
}
footer p {
  margin: 0;
}
/*footer a {
    color: rgb(80, 90, 100);
    font-size: 1.8em;
    text-align: center
}*/
.siteb a {
  color: white;
  font-size: 1.8em;
  text-align: center;
}

/*NAVBAR*/

h1{
  color:rgb(6, 47, 53);
  text-align: center;
  font-family: policetitre;
  font-size: 5vw;
  text-shadow: 2px 3px black;
}

#contact{
  font-size: 3vw;
  margin-top: 3%;
}

}
#modal {
  background-color: black;
}

.nav-item a.active {
  background-color: white;
  color: black;
}

.nav-item a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  transition: 1s;
}
.cursor {
  cursor: pointer;
}

.nav-item a:hover {
  background-color: grey;
}
/*NAVBAR*/

/* ICONS*/
.fa {
  padding: 18px 35px 18px 25px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 25px 25px;
  border-radius: 50%;
  transition: 0.3s;
}

.fa:hover {
  opacity: 0.8;
  transform: scale(0.9);
  text-decoration: none;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.icons {
  display: flex;
  justify-content: center;
}
/* ICONS*/
